@import './colors';

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
  font-family: "Outfit", sans-serif;
  background-color: $primary-color
}

span {
  color: $color-eight;
  font-size: 16px;
  font-weight: 300;
}

strong {
  color: $color-seven;
  font-weight: 900;
  font-size: 17px;
}

ul>li {
  margin: 12px;
  padding-left: 14px;
}

.container-info {
  background-color: $secundary-color;
  width: 720px;
  min-height: 540px;

  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  h1 {
    font-family: "Young Serif", serif;
    font-weight: 300;
    font-size: 30px;
    padding-left: 29px;
  }

  .img {
    display: flex;
    justify-content: center;
    margin: 20px 20px;

    .card-img {
      width: 680px;
      height: 320px;
      border-radius: 10px;
    }
  }

  .text-info {
    margin-top: -28px;
    padding: 20px 20px;

    margin-left: 15px;
    font-weight: 500;

    font-family: "Outfit", sans-serif;
    color: $color-sex;
  }
}


.card-preparation {
  width: 620px;
  height: 175px;
  border-radius: 14px;

  background-color: $terciary-color;
  padding-left: 5px;

  margin-top: -5px;
  margin-left: 30px;
  margin-bottom: 24px;

  h3 {
    font-weight: bolder;
    color: $color-five;

    padding-left: 34px;
    margin-top: 25px;
  }

  ul {
    li {
      color: $color-five;
    }
  }
}


.card-ingredientes {
  margin: 10px 10px;
  border-bottom: 1px solid gainsboro;

  width: 96%;
  border-right: 40px;
  padding-bottom: 15px;

  h2 {
    color: $color-four;
    font-family: "Young Serif", serif;
    font-weight: 200;

    padding-left: 20px;
    margin-top: -10px;
  }

  ul {
    li {
      color: $color-four;
    }
  }
}


.card-instructions {
  margin: 30px;
  margin-top: 6px;

  border-bottom: 1px solid gainsboro;

  padding-bottom: 30px;


  h2 {
    color: $color-four;
    font-family: "Young Serif", serif;
    font-weight: 200;

    padding-left: 4px;

    margin-top: -8px;
  }

  .texto-ingre {
    padding-left: 20px;
    margin: 10px 10px;
  }

ol {
  li {
    color: $color-four;
    font-weight: bold;
  }
}

}


.card-nutrion {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  h2 {
    color: $color-four;
    font-family: "Young Serif", serif;
    font-weight: 200;
    padding-left: 35px;
    margin-top: -2px;
  }

  .text-nutrion {
    padding-left: 40px;
    font-weight: 500;
    color: $color-nine;
    margin-top: 5px;
  }
}

  .table {
    border-collapse: collapse;
    

  tr {
    border-bottom: 1px solid $color-ten;
  

    th {
      color: $color-eight;
      font-weight: 500;
      font-size: 19px;
      
      padding-left: 36px;
      margin-left: 15px;
    }

    td {
      padding: 12px;
      color: $color-four;
      font-weight: 900;
      padding-left: 16rem;
    }
  
  }

  .type1, .type2 {
    border: none;
  }
}